/* OVERALL LAYOUT STYLING */
#root {
	display: flex;
	flex-direction: column;
}
.content-container {
	flex: 1;
	display: flex;
	background: hsl(229, 15%, 77%);
}

@media (max-width: 600px) {
	.content-container {
		flex-direction: column;
	}
}

main {
	flex: 1;
	margin: 1rem;
}

main > * {
	height: 100%;
	background: hsl(229, 15%, 77%);
}

h1 {
	background: hsl(229, 15%, 77%);
	padding: 2rem 1.5rem 1rem;
}

ul {
	list-style-type: none;
}

section div button {
	margin-top: 1rem;
}

input[type="text"] {
	padding: 0.1rem;
}

.inputs-list {
	display: grid;
	gap: 0.5rem;
}

.inputs-list li {
	display: flex;
	gap: 0.5rem;
}

button {
	padding: 0.65rem 1rem;
	border-radius: 0.3rem;
	border: none;
	background: hsl(231, 66%, 58%);
	color: rgb(232, 232, 232);
	font-weight: 700;
	box-shadow: 0 1px 2px 1px hsla(0, 0%, 0%, 0.204);
}

button:hover {
	background: hsl(210, 69%, 19%);
	color: rgb(232, 232, 232);
	cursor: pointer;
}

button:active {
	background-color: hsl(209, 67%, 17%);
	box-shadow: 0 1px 5px 1px hsla(0, 0%, 0%, 0.204) inset;
}

button.action-type {
	padding: 0.5rem;
}

button.confirm-type {
	background: green;
}

button.confirm-type:hover {
	background: rgb(4, 77, 4);
}

button.add-type {
	margin-top: 1rem;
}

button.delete-type {
	background: rgb(188, 42, 42);
}

button.delete-type:hover {
	background: rgb(94, 14, 14);
}

.icon-image {
	width: 1rem;
	height: auto;
	filter: invert(1);
}

main > section:not(section.resume) {
	background: white;
	box-shadow: 0 0px 10px 10px white;
	margin: 0 1rem;
	padding: 0.5rem 1rem;
}

section h2 {
	border-bottom: 2px solid black;
}

.action-buttons-list {
	display: flex;
	gap: 0.5rem;
}

.action-buttons-list > button {
	flex: 1;
}

image {
	color: rgb(232, 232, 232);
}

/* Navigation Menu */

nav {
	border-radius: 0 0.5rem 0 0;
	background: white;
	padding: 1.5rem;
}

nav ul {
	display: grid;
	gap: 1.25rem;
	border-radius: 1rem;
}

@media (max-width: 600px) {
	nav ul {
		display: flex;
		flex-wrap: wrap;
	}
}

nav ul li button {
	min-width: 8.5rem;
}

/* RESUME SECTION
================================================ */
.resume {
	display: flex;
	justify-content: center;
	font-size: 0.95rem;
}

.created-resume-container {
	padding: 2rem;
	aspect-ratio: 8.5 / 11;
	background: white;
	max-height: 600px;
	box-shadow: 0 1px 10px 2px hsla(0, 0%, 0%, 0.204);
}

.general-info h4,
.general-info address {
	text-align: center;
}

.info-list-container {
	margin-top: 1.5rem;
}

.info-list-container h3 {
	border-bottom: 2px solid black;
}

.heading-date-line {
	display: flex;
	justify-content: space-between;
}

/* GENERAL SECTION
================================================ */
.info-card {
	padding: 1rem;
	border-bottom: 1px dashed black;
	display: grid;
	gap: 0.5rem;
}
