/* OVERALL LAYOUT STYLING */
#root {
	display: flex;
	flex-direction: column;
}
.content-container {
	flex: 1;
	display: flex;
	background: hsl(229, 15%, 77%);
}

main {
	flex: 1;
	margin: 1rem;
}

main > * {
	height: 100%;
	background: hsl(229, 15%, 77%);
}

h1 {
	background: hsl(229, 15%, 77%);
	padding: 2rem 1.5rem 1rem;
}

ul {
	list-style-type: none;
}

button {
	padding: 0.65rem 0;
	border-radius: 0.3rem;
	border: none;
	background: hsl(231, 66%, 58%);
	color: rgb(232, 232, 232);
	font-weight: 700;
	box-shadow: 0 1px 2px 1px hsla(0, 0%, 0%, 0.204);
}

button:hover {
	background: hsl(211, 48%, 55%);
	color: black;
	cursor: pointer;
}

/* Navigation Menu */

nav {
	border-radius: 0 0.5rem 0 0;
	background: white;
	padding: 1.5rem;
}

nav ul {
	display: grid;
	gap: 1.25rem;
	border-radius: 1rem;
}

nav ul li button {
	min-width: 7rem;
}
